SECRET_KEY=dev-secret-key-change-in-prod
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_NAME=booked_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
